/*font-family: 'Lobster', cursive;*/
/* width */
*{
  font-family: 'Source Sans Pro', sans-serif;
 
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #555;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  
}

.link {
  color: black;
}

a {
  color: black;
}

a:hover {
  color: black;
}
.lbtn {
  margin-top: 5px;
}

.searchbar {
  margin-top: 5px;
}

.mainname {
  color: white;
}
Link {
  color: gold;
}
.mainpage {
  margin: auto;
}

.mainfont {
  color: rgb(0, 0, 0);
  padding: 7% 5%;
}

.searchtext {
  border: 2px solid black;
  outline: 2px solid black;
  width: 0px;
  padding: 0px;
  margin: 0px;
  background: none;
}
.frontpage {
  background-image: url("../Photos/bgimage.jpg");

  background-position: center;

  background-repeat: no-repeat;
  position: relative;
}

.searchbar {
  background-color: white;
  display: block;
  padding: 0.3rem 1rem;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 25px;
}

.stext {
  background: none;
  border: none;
  outline: none;
}

.sbtn {
  color: black;
  background: none;
  border: none;
  outline: none;
}

.lbtn {
  color: black;
}

.text {
  padding: 15% 40%;
}

.dbox {
  margin: 2% 5%;
  padding: 2% 5%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(235, 230, 230);
}


.dbox1 {
  margin: 0% 5%;
  margin-top: -8%;
  margin-bottom: 2%;
  padding: 0% 5%;
  padding-bottom: 2%;
  padding-top: 6%;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: rgb(235, 230, 230);
}





.sbox {
  margin: 2% 1%;
}

.dbtn {
  margin-right: 1%;
}

.btn-width {
  width: 200px;
}

.main-heading {
  text-align: center;
  margin-top: 20px;
}

.full-height {
  height: 100vh;
}

.red {
  background-color: red;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  margin-top: 20px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}
.divider span {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.divider span::before,
.divider span::after {
  content: "";
  display: block;
  border-top: solid 1px #7b3596;
  height: 1px;
  position: absolute;
  background: #ddd;
  top: 50%;
  width: 90vh;
}
.divider span::before {
  right: 100%;
}
.divider span::after {
  left: 100%;
}


.student-profile-container{
  padding: 0 37%;
}
.box{
  display: flex;
  margin-top:10px;
}


.regbtn{
  
  padding: 0% 8%;
  
}

.btn-sm {
  padding: 0% 15%;
  
}

.tr{
  border: 2px solid red;
}

.container{
  display: flex;
}

.container input:first-child {
  width: 100%;
}

.container input:last-child {
  
  width: 200%;
}

.hometext{
  padding: 2% 8%;
  margin: 0% 0%;
}

.outertext{
  padding:  10% 0%;
  
}

.mainimg1{
  padding: 5% 5%;
}


.mainbg{
  width: 99.80vw;
  background-image: url("../Photos/images.jpeg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}


.tpofeature{
  text-align: center;
  display: flex;
  align-items: center;
  padding: 2% 5%;
  justify-content: center;
}

.outbg{
  background-color:rgb(240, 240, 240);
}

.featurehome{
  width: 100vw;
  padding: 2% 5%;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.stuhomecomp{
  width: 100vw;
  background-color: #ffffffe7;
  padding: 0% 5%;
}


.centertext{
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid rgb(255, 187, 0);
  margin-top: 5% ;
  padding: 2% 0%;
}

.featureimg{
  padding: 2%;
  height: 250px;
  width: auto;
}

.phnoerr{
  position: absolute;
  margin-bottom:-36px; 
  color: red;
  border: 2px solid red;
}

.veri{
  color: green;
}

.forgotpass{
  float: right;
}

.tpodata{
  padding-bottom: 8%;
  
}


.compdashboardimg{
  border: 2px solid red;
}



.featureimgout{
  background: white;
  border: 1px solid rgb(244,241,255);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px;
  border-radius: 10px;
 
}


.featureimgout1{
  background: white;
  border: 1px solid rgb(244,241,255);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px;
  border-radius: 10px;
  padding: 4%;

}


.stdtext{

}

.siderec{
  background-color: #e2e2e2;
  border-radius: 10px;
  position:relative;
  z-index:1;
  padding: 2% 5%;
  margin-left: -4%;

}

.tpofeature1{
margin: 2% 2%;
margin-top: 100px;

}




.tpotext{
  margin-bottom: 5%;
}



.companyimg1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
  margin-left: 60%;
  position:relative;
  z-index:2;
  border: 2px solid rgb(255, 196, 0);
}



.navcolor{
  background-color: #060c66;
}





.bottomnav{
  background: none;

}


.navbarbottom1{
  position: fixed;
}


.bg-dark{
  color: #ff0000;
}


.companyimg2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
  position:relative;
  z-index:2;
  border: 2px solid rgb(255, 196, 0);
  border: 10px solid rgb(255, 255, 255);
}

.imgout1{
  text-align: center;
  
}

.setbtn{
  height: 50px;
  width: 30px;
}


.stdtable{
  padding: 0% 2%;
 
  
}

/* width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
  position:relative;
  z-index:2;
  border: 2px solid rgb(255, 196, 0); */




.companyformatout{
  padding: 2% 8%;
}

.cominnertext{
  margin-left: 14%;
  
  display: block;
}


.stdtext{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 30px;
  margin: 5% 0%;
  text-align: center;
}

.stdmain{
/* background-image: url("../Photos/181.jpg"); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;
justify-content: center;
opacity: 1;
height: 100%;
filter: blur(3px);
-webkit-filter: blur(3px);
}

.sethomebg{
  background-color:rgb(240, 240, 240);

}


.tpoimg{ 
  object-fit: cover;  
}




.setsize1{
  font-size: 50px;
  
}


.trytext1{
  color: black;
  font-family: 'Lobster', cursive;
  
}



.trytext2{
  color: black;
  font-size: 100px;
  font-family: 'Lobster', cursive;
}



.subtxt{
  border: 2x solid red;
  margin: 5% 0%;
}

.clientheader{
  text-align: center;
  margin-top: 5%;
  border-bottom: 2px solid rgb(255, 187, 0);
  padding: 2% 0%;
  
}

.clientmain{  
  padding: 2% 5%;
  text-align: center;
  background-color:rgb(240, 240, 240);
}

.featurename{
  border-bottom: 2px solid rgb(255, 187, 0);  
  margin: 0% 10%;
  margin-bottom: 5%;
  padding-bottom: 3%;
}


.reqinfo{
  text-align: center;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}


.comcard{
  width: 250px;
  height: 230px;



}

.roundimg{
  border-radius: 50%;  
  border: 2px solid red;
  width: 500px;
  height: 500px;
}


.aboutus{
  
  
}


.abouttext{
  border-bottom: 2px solid rgb(255, 187, 0);
  margin: 0% 10%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-top: 5%;
  text-align: center;
  
}


.abouttext1{
  padding: 2% 1%;

}



.tpocombtn{
  margin-bottom: 5%;
}




.aboutteextout{

}


.try1{
  color: black;
  
}



.tryimg1{

  width: 200px;
}


.companyimg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2%;
  
}


.clientmainpage{
  width: 97.70vw;

}

.smlogo{
  border-radius: 100%;
  padding: 5%;
}

.smlogo:hover{
 

}



.bgimg1{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  

}

.outcour{
  
}


.setsize{
  height: 550px;
  width: auto;
}

.caucap{
  margin-bottom: 100px;
}




















.bcontent {
  margin-top: 10px;
}


.carousel-item {
height: 100vh;
min-height: 300px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #fff;
}
.carousel-caption {
bottom: 270px;
}

.carousel-caption h5 {
font-size: 45px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 25px;
}

.carousel-caption p {
width: 75%;
margin: auto;
font-size: 18px;
line-height: 1.9;
}

.navbar-light .navbar-brand {
color: rgb(8, 8, 8);
font-size: 25px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
color: rgb(8, 8, 8);
}

.navbar-light .navbar-nav .nav-link {
color: rgb(8, 8, 8);
}

.navbar-toggler {
background: rgb(8, 8, 8);
}

.navbar-nav {
text-align: center;
}

.nav-link {
padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
color: rgb(8, 8, 8);
}

.navbar-toggler {
padding: 1px 5px;
font-size: 18px;
line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: rgb(72, 83, 230);
}

* {
box-sizing: border-box;
}
body {
font-family: 'Comfortaa', cursive;
line-height: 1.6;
margin: 0;
min-height: 100vh;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}


h2,
h3,
a {
color: #fefeff;
}

a {
text-decoration: none;
}



.logo {
margin: 0;
font-size: 1.45em;
}

.main-nav {
margin-top: 5px;

}
.logo a,
.main-nav a {
padding: 10px 15px;
text-transform: uppercase;
text-align: center;
display: block;
}

.main-nav a {
color: #eef0f1;
font-size: .99em;
}

.main-nav a:hover {
color: #1a63b6;
}




.header {
padding-top: .1em;
padding-bottom: .1em;
border: 1px solid #9294eb;
background-color: #2c2c2e;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.form {
padding-top: .1em;
padding-bottom: .1em;
}
/* ================================= 
Media Queries
==================================== */




@media (min-width: 769px) {
.header,
.main-nav {
display: flex;
}
.header {
flex-direction: column;
align-items: center;

}

}

@media (min-width: 1025px) {
.header {
flex-direction: row;
justify-content: space-between;
}

}



.code:hover {
background: green;
color: #fff;
cursor: pointer
}
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:rgb(77, 109, 212); text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #c1e3f3; padding-bottom:20px;}
.foote_bottom_ul_amrc {
list-style-type:none;
padding:0px;
display:table;
margin-top: 10px;
margin-right: auto;
margin-bottom: 10px;
margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:rgb(87, 61, 236); margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
