.loginform{
   /* margin-top: 5%; */
    
    padding: 5% 0%;     
}


.loginbg{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Photos/chex1.png");
    background-size: 100% 100%;

}

.lform{
    /* margin: 0% 35%; */
      
}


.loginformout{
    margin: 0% 18%;
    padding: 3% 12%;
    border: 2px solid black;  
    border-radius: 15px;
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white; */
}




.loginimg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    opacity: 1;
    height: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: fit-content;
}


.loginstdtext{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 30px;
    margin: 5% 0%;
    text-align: center;
}


.compregister{
    border: 2px solid red;
}


.heading{
    padding:2% 0% ;
    
}

.email, .password, .option{
    padding: 2% 0%;
    display: block;
}

.teacherbtn, .studentbtn{
    width: 200px    ;
    border-radius: 5px;
    
}

.forgot{
    float: right;
}

.signup{
    padding: 2% 0%;
}
.loginas{
    float: left;
}


.rform{
    /* padding: 0% 30%; */
    /* float: left; */
}

.rbtn{
    margin-right: 5%;
}

.rbtn1{
    margin-right: 2%;
}


.errstatus{
    color: red;
    text-align: left;
}