.registerform{
    padding: 1% 20%; 
    text-align: center; 
    margin: 0% 5%;
}


.logofile{
    text-align: left;
}
/* body{
    background-image:url("../Photos/chex1.png")  ;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */

.fname, .lname, .email, .phno, .password{
    padding: 1% 0%;
}

.fname1, .lname1, .email1, .phno1, .password1,.accbtn{
    width: 400px;
}

.wrong{
    color: red;
}